<h1>New business_category</h1>

<%= render 'form' %>

<%= link_to 'Back', business_categories_path %>
&nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to 'New Business Group', new_business_group_path, :target => '_blank' %>
