<h1>Invitar Admin Panel</h1>

<ul class="menue_ul">
  <li><%=link_to "Admin Index", "/admin"%></li>
  <li><%=link_to "Desgins", "/admin/add_desgins"%></li>
  <li><%=link_to "Pictures", "/admin/add_pictures"%></li>
  <li><%=link_to "Events", "/admin/events"%></li>
</ul>
<br/>
<style>
  .menue_ul{ list-style: none;
             }

  .menue_ul li{
    height: 28px;
    line-height: 28px;
    color: #2F8BBD;
    font-weight: bold;
    font-size: 12px;
    float: left;
    padding: 0 3px;
  }
</style>