<table border="0">
  <thead>
    <tr>
      <th>Full name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= h @contact.full_name %></td>
      <td><%= h @contact.email %></td>
      <td><%= h @contact.phone %></td>
      <td><%= h @contact.description %></td>
    </tr>
  </tbody>
</table>
