<%=render :partial=>"/shared/plaxo_files"%>
<%=flash[:message]%>
<form method="post" >
  <%=hidden_field_tag "event_id", params[:event_id]%>
  <%=hidden_field_tag "guest_id", params[:guest_id]%>

  <textarea cols="100" rows="10" id="recipient_list" name="recipients"></textarea>

  <a href="#" onclick="showPlaxoABChooser('recipient_list', '/contacts_invitation'); return false"><img src="http://www.plaxo.com/images/abc/buttons/add_button.gif" alt="Add from my address book" /></a>
  <br/>
  <input type="submit" value="Invite" ></input>
  <a href="javascript:;" onclick="window.parent.$.fancybox.close();">Close</a>
</form>
