<li>
  <div class="box_top"><!----></div>
  <div class="box_mid">
    <div class="module">
      <h4>Google Map</h4>
      <div class="googlemap" id="googlemap">

      </div>
    </div>
  </div>
  <div class="box_bot"><!----></div>
</li>
