<div class="photo">
  <p>
  <%= form.fields_for :assets, photo, :child_index => (photo.new_record? ? "index_to_replace_with_js" : nil) do |photo_form| %>
    <%= photo_form.file_field :photo %>
    <span class="removeImageField"> Remove</span><br/>
  <% end %>
  </p>
</div>